<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://localhost:8000/publico/css/style.css">
</head>
<body>
    <img src="http://localhost:8000/publico/PlatoRomano.PNG" alt="" width="200px">
   <h1>{{message}}</h1> 
</body>
</html>